body {
    font-family: DejaVu Serif, sans-serif;
    background-color: navyblue;
    color: turquoise;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  .navbar a {
    float: left;
    display: block;
    color: #e089dc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: pink;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid rgb(8, 227, 238); /* Cambia el tipo de borde aquí */
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #251d1d;
  }
  img{
    width: 300px; /* Cambia el ancho de la imagen */
    height: auto; 
  }
  .imagenIndex{
    border: 5px ridge rgb(255, 255, 0);
  }
